@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-none;
  }

  :focus-visible {
    @apply ring-2 ring-foreground-8/75 ring-inset;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255 255 255 / 0.2);
  }
  ::-webkit-scrollbar-thumb:active {
  }
  ::-webkit-scrollbar-track-piece:start,
  ::-webkit-scrollbar-track-piece:end,
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@layer components {
  .panel {
    @apply bg-black/75 backdrop-blur-md border border-white/10 rounded-md shadow-md shadow-black/25;
  }
  .panel-border-none {
    @apply rounded-none border-0;
  }
  .panel-border-left {
    @apply rounded-none border-0 border-l;
  }
  .panel-border-right {
    @apply rounded-none border-0 border-r;
  }
}

@layer utilities {
  .animate-radix[data-state="open"] {
    @apply animate-in;
  }
  .animate-radix[data-state="closed"] {
    @apply animate-out;
  }
}
