@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-none;
  }

  :focus-visible {
    @apply ring-2 ring-foreground-8/75;
  }
}

.mosaic-window-toolbar {
  background: theme("colors.slate.700") !important;
  box-shadow: none !important;
  height: 40px !important;
}
.mosaic-window-body {
  background: transparent !important;
}
