@unocss;

:root {
  @apply font-sans;
}

:focus {
  @apply outline-0;
}

:focus-visible {
  @apply ring-2 ring-accent;
}

@keyframes zoom-fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/25;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}
